.special-offer-container {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: #e9ffff;
  background-image: url('../Images/bannerbACKGROUND.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-item__content {
  position: relative;
  z-index: 2;
  color: white;
}

.cursor {
  cursor: grab;
}

/* Text Content Styling */
.text-success-600 {
  color: #28a745;
}

.banner-item__title {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Quicksand';
  margin-bottom: 30px;
  color: black;
}

.text-main-600 {
  color: #1C799B;
}

.exploreNowBtn {
  height: 50px;
  border: none;
  background-color: #1C799B;
  font-size: 20px;
}

@media (max-width: 480px) {
  .banner-item__title {
    font-size: 22px;
    /* Further reduce the title size */
  }

  .image-style {
    width: 80%;
  }

  .text-danger {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .banner-item__title {
    font-size: 30px;
    /* Adjust title size for tablets */
  }

  .image-style {
    width: 250px;
  }

  .text-danger {
    font-size: 16px;
  }

  .special-offer-container {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .banner-item__title {
    font-size: 50px;
  }

  .image-style {
    width: 100%;
  }

  .text-danger {
    font-size: 16px;
  }

  .special-offer-container {
    height: 500px;
  }
}