/* Container and header */
.Shop-brand-header {
    margin-bottom: 20px;
}

.Shop-brand-header h3 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #1a1a2e;
}


.product-card {
    min-height: 250px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.product-card:hover {
    border: 1px solid #1c799b;
}


/* Image Container */
.Daily-image-container img {
    transition: transform 0.4s ease;
    /* Smooth zoom effect */
}

/* On Hover, Zoom the Image */
.product-card:hover .Daily-image-container img {
    transform: scale(1.2);
    /* Slight zoom effect */
}
.TextElement {
    font-family: 'Quicksand';
    font-weight: 600;
}

/* Banner container */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.banner-content {
    font-family: 'Quicksand';

}


.shop-now-btn-banner {
    background-color: #2ABC79;
    color: white;
    padding: 7px 17px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}


.expire-text {
    margin-left: 8px;
    font-weight: 500;
    color: #333;
}

.Add-To-Cart-Button-Daily {
    border-radius: 20px;
    background-color: #E3F4FA;
    border: none;
    padding: 5px;
    color: #1c799b;
    margin-top: 10px;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 18px;
}

.Add-To-Cart-Button-Daily:hover {
    background-color: #1c799b;
    color: white;
}

.timer {
    background-color: #E3F4FA;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}

.ProductDetails span {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 14px;
}

.ProductDetails p {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 18px;
}

.ProductDetails small {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 12px;
}


p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.expire-text {
    margin-left: 5px;
    font-weight: 500;
    color: #333;
    font-size: 14px;
}

/* Shop now button */
.shop-now-btn-banner:hover {
    background-color: #249c63;
}

/* Responsive tweaks */
@media (max-width: 767.98px) {
    .banner-container {
        min-height: 200px;
        text-align: center;
        align-items: center !important;
    }

    .logo-circle {
        margin: 0 auto 15px auto;
    }
}

@media (max-width: 576px) {
    .Add-To-Cart-Button-Daily {
        width: 100%;
    }
}

.newsletter-new h3 {
    font-weight: 600;
    color: #2a2a2a;
}

.Main {
    background-color: #e6e6e6;
    border-radius: 8px;
}

.Text h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.SubscribeButton {
    border: none;
    border-radius: 5px;
    background-color: #2ABC79;
    color: white;
    font-weight: 500;
}

.SubscribeButton:hover {
    background-color: darkgreen;
}