.flash-sales-container {
    padding: 20px;
    margin-top: 20px;
}

.flash-sales-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.flash-sales-header a {
    text-decoration: none;
}

.flash-sales-header a:hover {
    color: #1c799b;
    text-decoration: underline;
}

.flash-sales-header h3 {
    font-weight: bold;
    font-size: 30px;
    color: #1a2433;
    font-family: 'quicksand', sans-serif;
}

.flash-sales-header a {
    font-weight: 600;
    color: #6c757d;
}

.flash-sales-slide {
    padding: 0 10px;
}

.flash-sales-card {
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.flash-sales-card:hover {
    border: 1px solid #1c799b;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.wishlist-icon1 {
    position: absolute;
    top: 10px;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    padding: 9px;
    color: #616161;
    /* transition: opacity 0.3s ease, color 0.3s ease, transform 0.3s ease; */

}

.flash-sales-slide .wishlist-icon1:hover {
    color: #1c799b;
    border-color: #1c799b;
}

.wishlist-icon1 .red-heart1 path {
    fill: red;
    color: red;
}

.flash-sales-image-container {
    height: 160px;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flash-sales-image-container img {
    height: 130px;
    object-fit: contain;
    transition: transform 0.4s ease;
}

/* Hover effect for image */
.flash-sales-image-container:hover img {
    transform: scale(1.2);
    /* z-index: 10; */
}

.flash-sales-card:hover .flash-sales-image-container img {
    transform: scale(1.2);
    /* Zoom effect */
    filter: brightness(1.1);
    /* Optional: slightly increase brightness */
}

.flash-sales-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E3F4FA;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    color: #1C799B;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-family: 'Quicksand';
    font-weight: 600;
}

.flash-sales-add-button:hover {
    background-color: #1c799b;
    color: white;
}

.flash-sales-price {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    color: #1a2433;
}

.flash-sales-price span {
    margin-left: 6px;
}

.flash-sales-price .original-price {
    text-decoration: line-through;
    color: #adb5bd;
    font-weight: 400;
}

.flash-sales-price .per-qty {
    color: #6c757d;
    font-weight: 500;
}

.flash-sales-rating {
    font-size: 16px;
    color: #495057;
    margin-bottom: 10px;
}

.flash-sales-product-name {
    font-weight: 600;
    font-size: 18px;
    color: #1a2433;
    /* flex-grow: 1; */
}

.flash-sales-product-name:hover {
    color: #1c799b;
}

.flash-sales-progress-bar {
    height: 4px;
    background-color: #e9ecef;
    border-radius: 4px;
    overflow: hidden;
    /* margin-bottom: 8px; */
}

.flash-sales-progress-bar-inner {
    width: 50%;
    height: 100%;
    background-color: #1c799b;
}

.flash-sales-sold-text {
    font-size: 15px;
    color: #6c757d;
    margin-bottom: 0;
}

.quantity-box {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 14px;
    border: 1px solid #1C799B;
    border-radius: 20px;
    background-color: #E3F4FA;
    color: #1C799B;
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: 600;
    transition: all 0.3s ease;
    z-index: 1;
}

.quantity-box button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #1C799B;
    cursor: pointer;
    font-weight: bold;
}

.quantity-box span {
    width: 20px;
    text-align: center;
}


/* ---------------------------------2 BANNER CSS START FROM NOW------------------ */