.flash-sales-container {
    padding: 20px;
    margin-top: 20px;
}

.flash-sales-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.flash-sales-header a {
    text-decoration: none;
}

.flash-sales-header a:hover {
    color: #1c799b;
    text-decoration: underline;
}

.flash-sales-header a {
    font-weight: 600;
    color: #6c757d;
}

.flash-sales-slide {
    padding: 10px;
}

.flash-sales-card {
    border-radius: 12px;
    padding: 15px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    border: 1px solid #DBDBDB;

}

.flash-sales-card:hover {
    border: 1px solid #1c799b;
}

.wishlist-icon-flash {
    position: absolute;
    top: 10px;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    padding: 9px;
    color: #616161;
}

.flash-sales-slide .wishlist-icon-flash:hover {
    color: #1c799b;
    border-color: #1c799b;
}

.wishlist-icon-flash .red-heart-flash path {
    fill: red;
    color: red;
}

.flash-sales-image-container {
    height: 160px;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flash-sales-image-container img {
    height: 130px;
    object-fit: contain;
    transition: transform 0.4s ease;
}

.flash-sales-image-container:hover img {
    transform: scale(1.2);
}

.flash-sales-card:hover .flash-sales-image-container img {
    transform: scale(1.2);
}

.flash-sales-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E3F4FA;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    color: #1C799B;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-family: 'Quicksand';
    font-weight: 600;
}

.flash-sales-add-button:hover {
    background-color: #1c799b;
    color: white;
}

.flash-sales-price {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #1a2433;
    font-family: 'Quicksand';
}

.flash-sales-price span {
    margin-left: 6px;
}

.flash-sales-price .original-price {
    text-decoration: line-through;
    color: #adb5bd;
    font-weight: 400;
}

.flash-sales-price .per-qty {
    color: #6c757d;
    font-weight: 500;
}

.flash-sales-rating {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-weight: 600;
}

.flash-sales-product-name {
    font-weight: 600;
    font-size: 18px;
    color: #1a2433;
    /* flex-grow: 1; */
}

.flash-sales-product-name:hover {
    color: #1c799b;
}

.flash-sales-progress-bar {
    height: 4px;
    background-color: #e9ecef;
    border-radius: 4px;
    overflow: hidden;
}

.flash-sales-progress-bar-inner {
    width: 50%;
    height: 100%;
    background-color: #1c799b;
}

.flash-sales-sold-text {
    font-size: 15px;
    color: #6c757d;
}