.rectangle-box_banner3 {
    /* padding: 30px; */
    height: 280px;
    border-radius: 15px;
    color: white;
    /* display: flex; */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.banner-content {
    width: 70%;
    padding: 20px;
}

.banner-contentText {
    font-size: 1.8rem;
    color: black;
}

.subtext {
    color: black;
    font-size: 1.0rem;
    /* margin-bottom: 20px; */
}


.shop-now-btn-banner1 {
    background-color: #2ABC79;
    color: white;
    padding: 7px 17px;
    border: none;
    border-radius: 25px;
    font-weight: 400;
    cursor: pointer;
}

.shop-now-btn-banner2 {
    background-color: white;
    color: black;
    padding: 7px 17px;
    border: none;
    border-radius: 25px;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 768px) {
    .rectangle-box {
        margin-bottom: 20px;
    }
}


@media (max-width: 992px) {
    .banner-contentText {
        font-size: 1.25rem;
    }
}

.logo-circle {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-circle img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.Recommended-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.Recommended-header-text {
    font-size: 32px;
}

.Recommended-header h3 {
    font-weight: 700;
    font-size: 30px;
    color: #1a2433;
    font-family: 'quicksand', sans-serif;
    margin-left: 20px;
}



.category-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-tab {
    background-color: transparent;
    border: 1px solid transparent;
    /* Initially no visible border */
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 15px;
    color: grey;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.category-tab.active {
    background-color: #2086A3;
    color: white;
    border: 1px solid #2086A3;
}

.category-tab:hover {
    border: 1px solid #1c799b;
}

.Add-To-Cart-Button {
    border-radius: 20px;
    background-color: #e9ffff;
    border: none;
    padding: 5px 10px;
    color: #1c799b;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.Add-To-Cart-Button:hover {
    background-color: #1c799b;
    color: white;
}

.four-box-grid-recommended {
    display: grid;
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    margin-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.index1 {
    padding: 0 10px;
}

.box {
    padding: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Responsive 4-column layout on large screens */
@media (min-width: 1024px) {
    .four-box-grid-recommended {
        grid-template-columns: repeat(6, 1fr);
    }
}