.header-top {
    background-color: #1C799B;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    display: 'flex';

}

.countdown {
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
}

.countdown-item {
    min-width: 70px;
    /* Set a minimum width to prevent shifting */
    text-align: center;
    /* Center the numbers */
}

@media (max-width: 767px) {
    .countdown-item {
        min-width: 50px;
        /* Adjust for smaller screens */
    }
}

.sale-text {
    font-size: 16px;
    /* margin-left: 20px; */
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}


.header-countdown {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.header-offers {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: white;
    /* margin-right: 30px; */
}

.NavigationMenu a {
    text-decoration-line: none;
}

/* Custom Positioning for Modal */
.modal.fade .modal-dialog {
    position: absolute;
    top: 200px;
    /* Adjust to position below Browse Categories */
    left: 1%;
    transform: translateX(-50%);
}


/* Styling the dropdown-toggle links */
.offcanvas .nav-link {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.offcanvas .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.offcanvas .dropdown-toggle::after {
    float: right;
    margin-top: 6px;
}

.badge {
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 4px;
}

.nav-link a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s ease;
    font-family: 'Quicksand';
}

.nav-link a:hover {
    color: #1C799B;
    /* Highlight color on hover */
}


/* Browse Categories Dropdown Responsive */
.category-dropdown {
    z-index: 1000;
    left: 10;
    width: 30%;
    cursor: pointer;
}
.HelpText span{
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: 600;
}
.ProfileDiv{
    cursor: pointer;
}
.ProfileDiv span{
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: 500;
}
.browse-button span{
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: 500;
}
@media (max-width: 992px) {
    .category-dropdown {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .category-dropdown {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .category-dropdown {
        width: 100%;
        padding: 1rem;
    }
}

.transition-icon {
    transition: transform 0.3s ease;
}

.rotate-up {
    transform: rotate(180deg);
}
