.WishlistScrollbar ::-webkit-scrollbar {
  height: 5px;
}

.WishlistScrollbar ::-webkit-scrollbar-thumb {
  background: #ADADAD;
}

.wishlist-item-image img {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  padding: 10px;
}

.wishlist-item-price {
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: 'Quicksand';
}

.Add-to-wishlist-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #1C799B;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Quicksand';
}

.wishlist-row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
}

.TextClass {
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.CenterElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headings{
  border: 1px solid #DBDBDB;
}