
.wishlist-subtext {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Wishlist Items Grid */
.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wishlist-item {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.wishlist-item-image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.wishlist-item-info {
  flex-grow: 1;
  margin-left: 15px;
}


.wishlist-item-price {
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: 'Quicksand';
}

/* Wishlist Item Actions */
.wishlist-item-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: flex-start; */
}
.wishlist-item-actions a{
    text-decoration: none;
}

.remove-from-wishlist-btn, .view-product-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Quicksand';
}

.remove-from-wishlist-btn:hover, .view-product-btn:hover {
  background-color: #c0392b;
}

.view-product-btn {
  background-color: #2196f3;
}

.view-product-btn:hover {
  background-color: #1e88e5;
}

/* Footer for Wishlist */
.wishlist-footer {
  text-align: center;
  margin-top: 20px;
}

.proceed-to-cart-btn {
  padding: 12px 30px;
  background-color: #1C799B;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Quicksand';
  font-size: 18px;
  font-weight: 600;
}

.proceed-to-cart-btn:hover {
  background-color: #1e88e5;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .wishlist-item {
    width: 100%;
  }
}
